<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">

    <head>
        <title> Main </title>
        <link href="https://fonts.googleapis.com/css2?family=Alegreya+SC&family=Alegreya+Sans+SC:wght@900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/styles.css">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>

    <body>
    <div class="pic">
        <h1 class="main_head">ЛИЧНЫЙ КАБИНЕТ</h1>
        <div class="main_other">
            <p><a href="{% url 'choice' %}">Подобрать точки для установки почтового автомата</a> </p>
            <p><a href="{% url 'index' %}">ВЫЙТИ</a> </p>
        </div>
    </div>
    </body>

</html>